<!-- Footer -->
<section class="bg-light">
    <div class="container-xl p-5">
        <div class="row">
            <div class="col-md-4">
                <p>&copy; <span id="cdate"></span>  | All Rights Reserved</p>
            </div>
            <div class="col-md-4">
                <p>More Information Links</p>
                <ul>
                    <li><a href="https://www.fifa.com/fifaplus/en/tournaments/mens/worldcup/qatar2022">Offical Fifa World Cup Website</a></li>
                    <li><a href="https://www.bbc.co.uk/programmes/m0015ypx">BBC Sport World Cup Website</a></li>
                </ul>
            </div>
            <div class="col-md-4 text-end">
                <p>Website Design <br><small class="text-muted"> - by Chris Walsh</small></p>
            </div>
        </div>
    </div>
</section>
