<!-- Navigation -->
<nav id="mainNav" class="navbar fixed-top navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="index.html">
            <img src="./assets/imgs/worldcup-96.png" alt="" width="28" height="28">
            <span class="navbar-brand mb-0 ml-1 h1">World Cup 2022</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span><i class="bi bi-list"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="teams.html">Teams</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="groups.html">Groups</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="contact.html">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="saved-for-later.html">My Saved for Later</a>
                </li>
            </ul>
        </div>
    </div>
  </nav>
  <!-- End Navigation -->
